.App {
  width: 800px;
  margin: 0 auto;
  display: flex;
}

nav {
  height: 100vh;
}

.button {
  background-color: 2bc1c4;
  color: #fff;
}

/* #createnewview {
  
} */

.listview {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* #noteview {
  
} */

/* .editview {
} */

.note-thumbnail {
  background-color: #ffffff;
  width: 25%;
}
